# Inserting and Updating Data with SQL

## 1.1 Let's first connect to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

## 1.2 Importing Data From CSV Files

In [ ]:
# In order to read any csv file, we will need to import our python csv library
# This will allow us to read a csv file that we will have uploaded to our evironment
import csv

In [ ]:
# We will also need a pandas library which is used for data manipulation in this notebook. For now, don't worry too much about how it functions, we will explore it in details in the coming weeks.
import pandas as pd

Then we will download our csv files from 
*   [Interpol Dataset](http://bit.ly/DSInterpol) 
*   [Startups Dataset](http://bit.ly/DSStartup)
*   [Transactions Dataset](http://bit.ly/DSTransactions)
*   [Glass Dataset](http://bit.ly/DSGlass)

Later upload them to our current environment on Colaboratory by clicking View > Table of Contents > Files then Upload.  
(We should not load these files from url)

In [ ]:
# Upon uploading our file, we will then load our first table from the CSV file as shown 
# We are going to use one of pandas function which is read_csv(). This function helps us to load data from csv files into python. It takes a several arguments/ parameters but we are going to use only a few for now. 
# The first arugument is the path of the csv file. This tells the function where your csv is located and the name of the csv. It can also be a url.
# The second argument, index_col, tells pandas to use the row indexes as the row labels.
with open('Interpol.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
# We will then drop existing tables similar to the one that we will work with
# in our current sqlite environment. Then push our Interpol data into a new 
# table within our current SQLite Database 
#
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;

 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [ ]:
# Previewing our Interpol table
#
%%sql
SELECT * FROM Interpol LIMIT 5;

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Let's load our Startups.csv file. 
# Feel free to copy paste the code above and make the necessary modifications
# 
with open('Startups.csv','r') as f:
    Startups = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
# Challenge 2
# Let's load our Transactions.csv file below
# 
with open('Transactions.csv','r') as f:
    Transactions = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
# Challenge 3
# Let's load our Glass.csv file below
# 
with open('Glass.csv','r') as f:
    Glass = pd.read_csv(f, index_col=0, encoding='utf-8')

## 1.3 Inserting data into a table

In [ ]:
# Example 1: Previewing our table 
# We will first preview the last 5 records in Interpol our table
# NB: We learn this in our last SQL Session i.e. Sorting
#
%%sql 
SELECT * FROM Interpol LIMIT 5;

In [ ]:
# Example 2: Inserting data
# Then we will insert new data into our table and noting the added record
# Country = Uganda
# National Fugitives = 1
# Wanted Fugitives = 1
# Possible Hosted Fugitives / Captured Fugitives = 0
# Region = Sub Saharan Africa
# Flag = https://www.crwflags.com/art/countries/uganda.gif
%%sql
INSERT INTO Interpol (Country, "National Fugitives", "Wanted Fugitives", "Possible Hosted Fugitives / Captured Fugitives", Region, Flag)
VALUES ('Uganda', '1', '1', '0', 'Sub Saharan Africa', 'https://www.crwflags.com/art/countries/uganda.gif');

SELECT * FROM Interpol;

In [ ]:
# Example 2: Previewing the first five records in the Startups.csv file
#
%sql DROP TABLE if EXISTS Startups;
%sql PERSIST Startups;

 * sqlite://
Done.
 * sqlite://

'Persisted startups'

In [ ]:
# Example 2: Inserting data
# Then we will insert new data into our table and noting all the values of the added record
# We will add The follwoing
# Company = 'Glova'
# Satus = 'Operating'   
# 
%%sql
INSERT INTO Startups (Company, Satus)
VALUES ('Glova', 'Operating');

SELECT * FROM Startups;

In [ ]:
# Example 3
# Now Inserting a new record into the specific columns; Company, Mapping Location, Categories
# Company = "Moringa"
# Mapping Location = "Nairobi"
# Categories = "Education"
#
%%sql
INSERT INTO Startups (Company, "Mapping Location", Categories) 
VALUES ("Moringa", "Nairobi", "Education");

SELECT * FROM Startups;

### <font color="green">1.3 Challenges</font>

In [ ]:
# Challenge 1
# Insert a new record into the Interpol table with  
# Country = Tanzania
# National Fugitives = 3
# Wanted Fugitives = Null
# Possible Hosted Fugitives / Captured Fugitives = 2
# Region = Sub Saharan Africa
# Flag = https://www.crwflags.com/art/countries/tanzania.gif
# 
%%sql
INSERT INTO Interpol (Country, "National Fugitives", "Wanted Fugitives", "Possible Hosted Fugitives / Captured Fugitives", Region, Flag) 
VALUES ("Tanzania", 3, "NULL", 2, "Sub Saharan Africa", "https://www.crwflags.com/art/countries/tanzania.gif");

SELECT * FROM Interpol;

In [ ]:
# Challenge 2
# Insert any two records of your choosing into the Interpol table
# 
%%sql
INSERT INTO Interpol (Country, "National Fugitives", "Wanted Fugitives", "Possible Hosted Fugitives / Captured Fugitives", Region, Flag) 

VALUES ("Uganda", 8, "NULL", 21, "Sub Saharan Africa", "https://www.crwflags.com/art/countries/Uganda.gif"),
("Kenya", 24, "NULL", 11, "Sub Saharan Africa", "https://www.crwflags.com/art/countries/Kenya.gif");

SELECT * FROM Interpol;

In [ ]:
# Challenge 3
# Insert any new record in the Startups table only have the following attributes 
# Company, Mapping Location, Categories
# 
%%sql
INSERT INTO Startups (Company, "Mapping Location", Categories) 
VALUES ("Cyber Crafts Academy", "Ruiru", "Computing");

SELECT * FROM Startups;

## 1.4 Updating records in a table

In [ ]:
# Example 1
# Let's update Albania to 4 National Fugitives in the Interpol table.
# 
%%sql
UPDATE Interpol
SET "National Fugitives" = 4
WHERE Country = "Albania";

SELECT * FROM Interpol;

In [ ]:
%sql DROP TABLE if EXISTS Transactions;
%sql PERSIST Transactions;

 * sqlite://
Done.
 * sqlite://

'Persisted transactions'

In [ ]:
# Example 2
# Let's update any transactions record that has ride_id = 5781 
# to 5782
#
%%sql
UPDATE Transactions
SET ride_id = 5782
WHERE ride_id = 5781;

SELECT * FROM Transactions LIMIT 5;

In [ ]:
# Example 3
# Let's update the transactions record with ride_id = 5778 to 
# have travel_from = 'Kisii' and car_type = 'shuttle'
#
%%sql
UPDATE Transactions
SET travel_from = 'Kisii', car_type = 'shuttle'
WHERE ride_id = 5778;

SELECT * FROM Transactions;

### <font color="green">1.4 Challenges</font>

In [ ]:
# Challenge 1
# Update the transactions records with the 
# payment_method = none to Null
# 
%%sql
UPDATE Transactions
SET payment_method = 'none to Null';


SELECT * FROM Transactions;

In [ ]:
# Challenge 2
# Update the Interpol records with Wanted Fugitives	 = 2
# to National Fugitives = 2 
# 
%%sql
UPDATE Interpol
SET "National Fugitives" = 2
WHERE "Wanted Fugitives" = 2;

SELECT * FROM Interpol;

In [ ]:
# Challenge 3 
# Update the transactions records with car_type = "Bus" to 
# have car_type = "shuttle" and travel_to = "Nairobi Downtown"
# 
%%sql
UPDATE Transactions
SET car_type = "shuttle", travel_to = "Nairobi Downtown"
WHERE car_type = "Bus";

SELECT * FROM Transactions;

## 1.5 Updating with Conditions

In [ ]:
# Example 1
# As you have seen from the previous examples, we used the WHERE clause to specify
# where we would like to make our updates on the table.
# Now, how then would we do this for multiple records. Say, we wanted to update 
# records with Kisii to "Kisii Old Stage", we would do the following
#
%%sql 
UPDATE Transactions
SET travel_from = "Old Kisii"
WHERE travel_from = "Kisii";

SELECT * FROM Transactions;

In [ ]:
# Example 2
# We also need to be careful when updating records. If we omit the WHERE clause, ALL records will be updated!
# For example, running the code below will update our entire Wanted Fugitives 
# column with our new value as show in this example
# 
%%sql
UPDATE Interpol
SET "Wanted Fugitives"= 1; 

SELECT * FROM Interpol;

In [ ]:
# Example 2: Getting back our values.
# A way to get back our values in the Wanted Fugitives table
# is to read the table again. However, this will not consider any changes
# that we had made earlier on.
with open('Interpol.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;
%sql SELECT * from Interpol;

In [ ]:
%sql DROP TABLE if EXISTS Glass;
%sql PERSIST Glass;

 * sqlite://
Done.
 * sqlite://

'Persisted glass'

In [ ]:
# Example 3
# We can update Glass records which have Fe > 2.5 to Type = 2 
# We first preview it below
#
%%sql 
UPDATE Glass
SET Type = 2
WHERE Fe > 2.5;

SELECT * FROM Glass;

In [ ]:
# Example 3
# The perform the mentioned update
#
%%sql
UPDATE Glass
SET Type = 2
WHERE Fe > 0.2;

SELECT * FROM Glass;

### <font color="green">1.5 Challenges</font>

In [ ]:
# Challenge 1
# Let's update Angola with National Fugitives = 2, Wanted Fugitives = 2
# and 0 Possible Hosted Fugitives / Captured Fugitives
# 
%%sql
UPDATE Interpol
SET "Wanted Fugitives"= 2, "National Fugitives"= 2, "Possible Hosted Fugitives / Captured Fugitives"= 0 
WHERE country = "Angola";

SELECT * FROM Interpol;

In [ ]:
# Challenge 2
# Update Glass records with Na > 14 to have Type 3 
#
%%sql
UPDATE Glass
SET Type = 3
WHERE NA > 14;

SELECT * FROM Glass;

UsageError: Cell magic `%%sql` not found.

In [ ]:
# Challenge 3
# Update Treatment records with id > 41 to have treatment = "treated"
# 
OUR CODE GOES HERE

## 1.6 Updating using value from another column

In [ ]:
# Example 
# From our Interpol table, lets update National Fugitives = 0 to 
# have the values of its Wanted fugitives.
#
%%sql
UPDATE Interpol
set "National Fugitives" = Interpol."Wanted Fugitives"
where "National Fugitives" = 0;

SELECT * FROM Interpol;

### <font color="green">1.6 Challenges</font>

In [ ]:
# Challenge 
# From our Interpol table, we will need to update National Fugitives = 0 with
# National Fugitives the sum of Wanted Fugitives and Possible Hosted Fugitives / Captured Fugitives
#
%%sql
UPDATE Interpol
set "National Fugitives" = Interpol."Wanted Fugitives" + Interpol."Possible Hosted Fugitives / Captured Fugitives"
where "National Fugitives" = 0;

SELECT * FROM Interpol;